.author{
position: relative;
width: 370px;
height: 51px;
left: calc(50% - 370px/2);
top: -4px;

font-family: 'Cardo';
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 50px;

text-align: center;
text-transform: capitalize;

color: #1B3764;
}