header{
width: 1440px;
height: 109px;
background-color: #1B3764;
}


.logo {
    width: 24.5px;
    height: 28px;
    padding: 38px 70px;
    margin: -7px;

}

.pages {
    position: relative;
    top: -100px;
    left: 100px;
    color: white;
    width: 24.5px;
    height: 28px;
    font-size: xx-large;
    
}


.container {
    position: relative;
    width: 81.39px;
    height: 26.41px;
    top: -200px;
    left: 530px;
    display: inline-flex;
    margin: 45px;
    gap: 35px;

    color: #F6F8FC;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.17px;

    text-decoration: none;

}


.btn {
    position: relative;
    top: -200px;
    left: 850px;
    box-sizing: border-box;

    height: 66px;
    width: 222px;

    background: #FFCA42;
    border: 2px solid #FFCA42;

    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;

    letter-spacing: 0.57px;
    text-transform: capitalize;

    color: #1B3764;
}


.home {
    color: #FFCA42;
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: white;
}

.icon{
    position: relative;
    margin: 5px;
    padding: 10px;;
    color: white;
    border: 2px solid white;
    background-color: white;
    width: 15px;
    height: 15px;
    top: -180px;
    left: 220px;
}
