.learn_block {
    background-color: #F5F5F5;
    width: 1440px;
    height: 860px;

}

h1 {
    width: 436px;
    height: 51px;
    top: -4.36px;

    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;

    text-align: center;
    text-transform: capitalize;

    color: #1B3764;
}

.yellow {
    position: absolute;
    height: 3px;
    left: 45%;
    right: 48.08%;
    top: 37%;
}

.reading_pic {
    position: relative;
    width: 535px;
    height: 632px;
    left: -20px;
    right: 7.21%;
    top: -20px;

    filter: drop-shadow(0px 0px 20px rgba(27, 55, 100, 0.3));
    border-radius: 0px;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 101px;
    width: 229px;
    padding: 15px;
    margin-left: 65px;
    gap: 20px;
}

.grid_1 {
    width: 150px;
    height: 70px;
    background-color: #F4F8FF;
    padding: 65px;

    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    color: #1B3764;
}

.grid_2 {
    width: 150px;
    height: 70px;
    background-color: #F4F8FF;
    padding: 65px;
    text-align: left;

    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    color: #1B3764;
}

.grid_3 {
    width: 150px;
    height: 70px;
    background-color: #F4F8FF;
    padding: 65px;
    text-align: left;

    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    color: #1B3764;
}

.grid_4 {
    width: 150px;
    height: 70px;
    background-color: #F4F8FF;
    padding: 65px;
    text-align: left;

    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    color: #1B3764;
}

.reading_pic {
    position: absolute;
    height: 632px;
    left: 55%;
    right: 7.21%;
    top: 40%;

    filter: drop-shadow(0px 0px 20px rgba(27, 55, 100, 0.3));
    border-radius: 0px;
}

.linie {
    position: relative;
    height: 3px;
    left: 45%;
    right: 48.08%;
    top: 10%;
    align-items: center;
}

.resources_block {
    background-color: #F4F8FF;
    width: 1440px;
    height: 860px;
    padding: 70px;
}

h2 {
    position: relative;
    width: 436px;
    height: 51px;
    padding-left: 35%;

    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;

    text-align: center;
    align-items: center;
    text-transform: capitalize;

    color: #1B3764;
    top: -3%;
}

.linie {
    position: absolute;
    height: 3px;
    left: 52%;
    right: 48.08%;
    top: 151%;
}

.second_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid_one {
    height: 350px;
    width: 420px;
    border-radius: 5px 5px 0px 0px;
}

.grid_two {
    height: 350px;
    width: 420px;
    border-radius: 5px 5px 0px 0px;
}

.grid_three {
    height: 350px;
    width: 420px;
    border-radius: 5px 5px 0px 0px;
}

.context_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.context_one {
    width: 420px;
    height: 272px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.context_two {
    width: 420px;
    height: 272px;
    border-radius: 5px;
    background-color: #FFFFFF;

}

.context_three {
    width: 420px;
    height: 272px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.p1 {
    height: 68px;
    left: 7.14%;
    right: 17.14%;
    top: 25px;

    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;

    letter-spacing: 0.24px;

    color: #1B3764;
    padding-left: 7%;
}

.p2 {
    height: 92px;
    left: 7.14%;
    right: 18.33%;
    top: 112px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;

    color: #969AA0;
    padding-left: 7%;

}

.p3 {
    height: 26px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #1B3764;
    padding-left: 70%;
}