main{
width: 1440px;
height: 1109px;
}


.book {
    position: absolute;
    height: 800px;
    left: 55%;
    right: 1.62%;
    top: 270px;
    border-radius: 0px;
}

.container {
    color: #FFFFFF;
    padding: 30px;
}

.welcome {
    position: relative;
    height: 36px;
    left: 7%;
    right: 54.84%;
    top: 240px;

    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 36px;

    letter-spacing: 1.2px;
    text-transform: capitalize;

    color: #FFFFFF;
}

.best_writer {
    position: relative;
    height: 78px;
    left: 3%;
    top: 180px;

    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;

    letter-spacing: 1.3px;

    color: #FFFFFF;
    padding: 30px;
}

.believe {
    position: relative;

    height: 29px;
    left: 5%;
    right: 4.54%;
    top: 210px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    color: #B4C7E7;
}

.btn {
    position: relative;
    top: 270px;
    left: 5%;
    box-sizing: border-box;

    height: 66px;
    width: 222px;

    background: #FFCA42;
    border: 2px solid #FFCA42;

    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;

    letter-spacing: 0.57px;
    text-transform: capitalize;

    color: #1B3764;
}

.demo {
    position: relative;
    display: flex;
    height: 31px;
    left: 26%;
    top: 220px;

    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;

    letter-spacing: 0.38px;
    text-transform: capitalize;

    color: #FFFFFF;
}


.info {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 45px;
    height: 29px;
    top: 250px;
    left: 4%;


    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    letter-spacing: 0.48px;

    color: #FFFFFF;
}

li {
    color: #FFCA42;
}

.extra_info {
    position: relative;

    display: flex;
    flex-direction: row;
    gap: 45px;
    top: 230px;
    left: 7%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;


    color: #B4C7E7;
    padding: -5px;
  
}